*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    background: url(img/work-from-home-family-guy.webp) no-repeat center center/cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    padding: 20px 10px;
    width: 350px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 3px;
}

input{
    flex: 5;
    padding: 5px;
    font-size: 1.2rem;
    background-color: white;
}
::placeholder{
    color: black;
    font-weight: bold;
}
 #input-task{
    color: black;
    font-weight: bold;
}

#add-task{
    flex: 1;
    margin-left: 10px;
    padding: 2px;
    font-size: 1.2rem;
    color: green;
    background-color: white;
    border-radius: 4px;
    transition: .3s;
}

#add-task:hover{
    background-color: green;
    color: white;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    background-color:antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    width: 100%;
}
.task li{
    font-size: 1.2rem;
    list-style: none;
    padding: 5px;
    flex: 4;
    margin: 5px;
}

.task button{
    padding: 5px;
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.task .check{
    color: orange;
    margin-right: 10px;
    border: solid 2px orange;
    font-size: 1.5rem;
}

.task .check:hover{
    color: white;
    background-color: orange;
}

.task .delete{
    color: red;
    border: solid 2px red;
    font-size: 1.5rem;
}

.task .delete:hover{
    color: white;
    background-color: red;
}   